{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}
        <a href="{{ asset(path('topicsAdd')) }}" class="btn btn-primary btn-block" role="button">Dodaj</a>
{% endblock %}
